<div class="container">
  <mat-toolbar color="primary">
    <span>Gestão de Ativos</span>
    <span class="spacer"></span>
    <button mat-raised-button (click)="openForm()">
      <mat-icon>add</mat-icon>
      Novo Ativo
    </button>
  </mat-toolbar>

  <div class="mat-elevation-z8 content">
    <table
      mat-table
      [dataSource]="assets$ | async"
      class="full-width-table"
      *ngIf="assets$ | async as assets"
    >
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Nome</th>
        <td mat-cell *matCellDef="let asset">{{ asset.name }}</td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>Tipo</th>
        <td mat-cell *matCellDef="let asset">{{ asset.type }}</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let asset">{{ asset.status }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Ações</th>
        <td mat-cell *matCellDef="let asset">
          <button mat-icon-button color="primary" (click)="openForm(asset)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteAsset(asset.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" [attr.colspan]="displayedColumns.length">
          Nenhum ativo encontrado.
        </td>
      </tr>
    </table>
  </div>
</div>