.nav-links {
  margin-left: 20px;
}

.nav-links a {
  margin: 0 10px;
}

.active-link {
  background-color: rgba(255, 255, 255, 0.1);
}

mat-toolbar {
  display: flex;
  justify-content: space-between;
}
