mat-card {
  margin: 20px;
}

.container {
  padding: 20px;
}

.button-row {
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
}

.no-assets {
  margin-top: 20px;
  font-style: italic;
}

table {
  width: 100%;
}

mat-toolbar {
  margin-bottom: 20px;
}

mat-card-header {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 16px;
}

.mat-elevation-z8 {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
