<h1 mat-dialog-title>
  {{ isEditMode ? 'Editar Funcionário' : 'Novo Funcionário' }}
</h1>
<div mat-dialog-content [formGroup]="form">
  <mat-form-field appearance="fill">
    <mat-label>Nome</mat-label>
    <input matInput formControlName="name" required />
    <mat-error *ngIf="form.get('name')?.hasError('required')"
      >Nome é obrigatório</mat-error
    >
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" required />
    <mat-error *ngIf="form.get('email')?.hasError('required')"
      >Email é obrigatório</mat-error
    >
    <mat-error *ngIf="form.get('email')?.hasError('email')"
      >Email inválido</mat-error
    >
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>CPF</mat-label>
    <input matInput formControlName="cpf" required />
    <mat-error *ngIf="form.get('cpf')?.hasError('required')"
      >CPF é obrigatório</mat-error
    >
  </mat-form-field>

  <mat-form-field appearance="fill" *ngIf="!data.companyId">
    <mat-label>Empresa</mat-label>
    <mat-select formControlName="companyId" required>
      <mat-option *ngFor="let company of companies$ | async" [value]="company.id">
        {{ company.name }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="form.get('companyId')?.hasError('required')">
      Empresa é obrigatória
    </mat-error>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button [mat-dialog-close]="form.value" [disabled]="form.invalid">
    {{ isEditMode ? 'Salvar' : 'Criar' }}
  </button>
</div>