@if (isEditMode) {
  <h1 mat-dialog-title>Editar Ativo</h1>
} @else {
  <h1 mat-dialog-title>Novo Ativo</h1>
}
<div mat-dialog-content>
  <form [formGroup]="assetForm" (ngSubmit)="save()">
    <mat-form-field appearance="fill">
      <mat-label>Nome do Ativo</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Tipo de Ativo</mat-label>
      <mat-select formControlName="type">
        @for (type of assetTypes; track type) {
          <mat-option [value]="type">{{ type }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="save()" [disabled]="assetForm.invalid">
    @if (isEditMode) {
      Salvar
    } @else {
      Criar
    }
  </button>
</div>